.navbar-inverse  {
    padding: 5px;
}

html { 
  background: url(./images/crissy.jpg) no-repeat center center fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

div {
	fontSize: 18px;
}


body { 
    min-height:100%;
}

p.c1 { 
	margin-left: 40px; 
}

a.indentedImage {
	margin-left: 100px;
}

div.big-image-modal {
    min-width: 780px;
}


/*
.modal-container {
	position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
	position: absolute;
}
*/